
/* fonts */

/* cuprum-regular */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;

  font-display: swap;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
       url('../fonts/cuprum.woff2') format('woff2'),
       url('../fonts/cuprum.woff') format('woff');
}
/* cuprum-700 */
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;

  font-display: swap;
  src: local('Cuprum Bold'), local('Cuprum-Bold'),
       url('../fonts/cuprumbold.woff2') format('woff2'),
       url('../fonts/cuprumbold.woff') format('woff');
}
/* cuprum-italic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;

  font-display: swap;
  src: local('Cuprum Italic'), local('Cuprum-Italic'),
       url('../fonts/cuprumitalic.woff2') format('woff2'),
       url('../fonts/cuprumitalic.woff') format('woff');
}
/* cuprum-700italic */
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 700;

  font-display: swap;
  src: local('Cuprum Bold Italic'), local('Cuprum-BoldItalic'),
       url('../fonts/cuprumbolditalic.woff2') format('woff2'),
       url('../fonts/cuprumbolditalic.woff') format('woff');
}

/* pt-sans-regular */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;

  font-display: swap;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'),
       url('../fonts/ptsans.woff') format('woff');
}
/* pt-sans-700 */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;

  font-display: swap;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
}

/* Variables */

:root {
  /* colors */

  --basic-white: #fff;
  --basic-extra-grey: rgba(255, 255, 255, 0.3);
  --basic-black: #000;
  --basic-extra-white: rgba(0, 0, 0, 0.0001);
  --basic-neutral: #f1f5f7;
  --basic-extra-light: #F3F7F9;
  --basic-light-grey: #EAEAEA;
  --basic-dark-silver: #32425C;
  --basic-extra-red: #EE3643;
  --basic-purple: #DC91D8;
  --basic-blue:#3BBCE3;
  --basic-light-blue: #f2f6f8;
  --basic-light-blue: #F1F5F7;
  --basic-dark-blue: #32425C;
  --basic-darker-blue: #293449;
  --basic-green: #63A63E;
  --basic-light-green: #8ED78F;
  --basic-light-yellow: #FFC047;
  --basic-dark-yellow: #FFBF47;
  --basic-light-golden: #FFD180;
  --basic-lighter-golden: #FFDA96;
  --basic-light-brown: #a87751;
  --basic-beige: #F9F5F0;
  --basic-extra-beige: #F7F3EC;
  --basic-extra-dark-blue: #E5E5E5;
  --basic-grey: #3D546F;
  --basic-social: #212A3A;
  --basic-button-shadow: #367315;

  --special-white: rgba(255, 255, 255, 0.5);
  --special-extra-white: rgba(0, 0, 0, 0.15);
  --special-dark-blue: #1D2739;
  --special-darker-blue: #161D29;
  --special-extra-blue: #405069;
  --special-dark-red: #CA2C37;
  --special-darker-red: #BA2732;
  --special-greylight: #C5C5C5;
  --special-extra-greylight: rgba(197, 197, 197, 0.3);
  --special-greydark: rgba(169, 169, 169, 0.3);
  --special-greydarker: #a9a9a9;
  --special-dark-green: #5FBB2D;
  --special-darker-green: #518534;

  --home-icon-color: #C1C6CE;

  --b-feedback-button: #F4F4F4;
  --placeholder-color: #A9A9A9;
  --logo-shadow: #B6343D;

  --r: 0;
  --g: 0;
  --b: 0;

  /* fonts */

  --extra-font: "PT Sans", sans-serif, Tahoma;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 940px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", sans-serif, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);

  background-color: var(--basic-white);
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* container */

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* main-header */

.main-header {
  background-color: var(--basic-light-blue);

  padding-bottom: 60px;
}

.header-row-container {
  background-color: var(--basic-darker-blue);
}

.header-inner-wrap {
  display: flex;
}

.main-header-logo {
  color: var(--basic-white);
  pointer-events: none;
  text-align: center;

  background-color: var(--basic-extra-red);
  box-shadow: 0 5px 0 var(--logo-shadow);

  padding: 12px 56px 5px 56px;
  margin-bottom: auto;
  vertical-align: middle;
}

.logo-img {
  display: inline-block;
  width: 108px;
  height: 18px;
}

.search-form {
  display: flex;
  justify-content: start;
  margin-bottom: auto;
}

.search-field {
  background-color: var(--basic-darker-blue);

  border: none;
  width: 228px;
  outline: 0;
  outline-offset: 0;
  order: 1;
}

.search-field::placeholder {
  color: var(--basic-white);
  font-family: "Cuprum", sans-serif, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.search-field:active {
  background-color: var(--basic-white);

  color: var(--basic-black);
}

.search-field:focus {
  background-color: var(--basic-white);

  color: var(--basic-black);
}

.search-icon-container {
  padding: 12px 8px 5px 18px;
}

.search-icon {
  fill: var(--basic-white);
  opacity: 0.3;
}

.search-icon:hover {
  opacity: 1;
}

.search-field:active + .search-icon-container,
.search-field:focus + .search-icon-container {
  background-color: var(--basic-white);
}

.search-field:hover + .search-icon-container .search-icon  {
  fill: var(--basic-white);
  opacity: 1;
}

.search-field:active + .search-icon-container .search-icon,
.search-field:focus + .search-icon-container .search-icon {
  fill: var(--basic-extra-red);
  opacity: 1;
}

.perforators-header-logo,
.perforators-footer-logo {
  pointer-events: all;
}

.bookmarks,
.cart {
  color: var(--basic-white);
  overflow-wrap: break-word;

  width: 150px;
  position: relative;
  margin-bottom: auto;
}

.bookmarks {
  padding: 9px 24px 9px 43px;
}

.cart {
  padding:9px 26px 9px 49px;
}

.b-catalog-cart {
  background-color: var(--basic-extra-red);

  padding-left: 35px;
  width: 137px;
}

.b-catalog-bookmarks {
  width: 160px;
}

.bookmarks::before,
.cart::before {
  content: "";
  position: absolute;
  top: 13px;

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks::before {
  width: 14px;
  height: 16px;
  left: 20px;

  background-image: url("/img/icon-bookmark.svg");
}

.cart::before {
  width: 15px;
  height: 15px;
  left: 26px;

  background-image: url("/img/icon-cart.svg");
}

.b-catalog-cart::before {
  left: 12px;
}

.bookmarks:hover::before,
.cart:hover::before {
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.3;
}

.bookmarks:active,
.cart:active {
  background-color: var(--special-darker-blue);

  color: var(--special-white);
}

.b-catalog-cart:active {
  background-color: var(--basic-extra-red);
}

.ordering {
  width: 150px;
  padding: 9px 16px 9px 19px;
  margin-bottom: auto;

  color: var(--basic-white);
  overflow-wrap: break-word;

  background-color: var(--basic-green);
}

.ordering:hover {
  background-color: var(--special-dark-green);
}

.ordering:active {
  color: var(--special-white)
}

.header-inner-container {
  display: flex;
  margin-bottom: 27px;
}

.site-description-text {
  width: 235px;
  padding-top: 27px;
  padding-left: 30px;
  margin-right: 85px;

  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-red);
}

.site-description-text-catalog {
  margin-right: 20px;
}

.header-contacts-block {
  padding-top: 46px;
  margin-right: 70px;
}

.header-contacts-phone {
  color: var(--basic-extra-red);
  font-weight: bold;
  font-size: 21px;

  border: 3px solid var(--basic-white);
  display: inline-block;
  padding: 6px 42px 7px 71px;
  margin-bottom: 5px;
  position: relative;
}

.header-contacts-phone::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  top: 11px;
  left: 36px;

  background-image: url("../img/icon-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-address {
  color: var(--basic-dark-blue);
  font-size: 14px;
  text-align: center;

  margin: 0;
}

.header-fields {
  display: flex;
  align-items: flex-start;
  padding-top: 44px;
  width: 280px;
}

.login-field,
.registration-field {
  color: var(--basic-black);
  font-size: 21px;

  background-color: var(--basic-white);

  display: inline-block;
  overflow-wrap: break-word;
}

.login-field {
  width: 121px;
  margin-right: 10px;
  padding: 12px 27px 12px 19px;
}

.registration-field {
  width: 150px;
  padding: 12px 24px;
}

.login-field:hover,
.registration-field:hover {
  color: var(--basic-extra-red);
}

.login-field:active,
.registration-field:active {
  color: var(--special-greylight)
}

.login-field:hover .login-icon {
  fill: var(--basic-grey)
}

.login-icon {
  fill: var(--special-greylight);
}

.login-icon:hover {
  fill: var(--basic-grey);
}

.login-icon:active {
  fill: var(--special-greylight);
}

.login-field:active .login-icon {
  fill: var(--special-greylight);
}

.catalog-header-fields {
  margin-bottom: 42px;
}

.private-block {
  background-color: var(--basic-white);

  width: 300px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 7px;
  margin-top: 45px;
  padding-right: 17px;
}

.private-name-wrap {
  display: flex;
  margin-right: 20px;
}

.user-icon-container {
  padding-top: 3px;
  margin-left: 15px;
  margin-right: 21px;
  height: 18px;
}

.private-name {
  order: 1;

  font-size: 21px;
  font-weight: 400;
}

.private-name,
.exit-button {
  color: var(--basic-black);
}

.user-icon {
  fill: var(--special-greylight);

  width: 20px;
  height: 18px;
}

.private-name:hover + .user-icon-container .user-icon {
  fill: var(--basic-grey);
}

.private-name:active + .user-icon-container .user-icon {
  fill: var(--special-greylight);
}

.exit-button {
  display: inline-block;
  padding-top: 5px;
}

.logout-icon {
  fill: var(--special-greylight);
}

.logout-icon:hover {
  fill: var(--basic-grey);
}

.logout-icon:active {
  fill: var(--special-greylight);
}

.private-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}

.private-wrap:hover::before {
  background-color: var(--basic-extra-red);
}

.private-wrap:active::before {
  background-color: var(--special-greylight);
}

.private-wrap::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 133px;
  border-radius: 50%;

  background-color: var(--basic-dark-blue);
  background-size: 4px 4px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.my-orders {
  margin-right: 33px;
}

.my-orders,
.private-office {
  color: var(--basic-dark-blue);
  font-size: 16px;
  line-height: 18px;
}

.my-orders:hover,
.private-office:hover {
  color: var(--basic-extra-red);
}

.private-name:active,
.exit-button:active,
.my-orders:active,
.private-office:active {
  color: var(--special-greylight);
}

/* main-navigation */

.main-navigation {
  background-color: var(--basic-dark-silver);

  padding: 0 26px;
  width: 940px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;

  box-shadow: inset 0px -5px 0px var(--basic-darker-blue);
}

.site-navigation-link {
  color: var(--basic-white);
  text-align: center;

  display: inline-block;
  padding: 16px 29px 20px 27px;
  overflow-wrap: break-word;
}

.site-navigation-link:hover {
  background-color: var(--basic-darker-blue);
}

.site-navigation-link:active {
  opacity: 0.5;
}

.navigation-link-index {
  pointer-events: none;
}

/* offers */

.offers {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin: 59px auto 58px;
}

.offer-item {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 23px 21px;

  background-repeat: no-repeat;
}

.new {
  overflow: hidden;
  position: relative;
}

.offer-item:first-of-type {
  background-color: var(--basic-dark-yellow);
  background-image: url("../img/icon-1.svg");
  background-size: 44px 65px;
  background-position: 213px 31px;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.offer-item:nth-of-type(2) {
  background-color: var(--basic-blue);
  background-image: url("../img/icon-2.svg");
  background-size: 75px 61px;
  background-position: 194px 34px;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.offer-item:nth-of-type(3) {
  background-color: var(--basic-purple);
  background-image: url("../img/icon-3.svg");
  background-size: 78px 62px;
  background-position: 191px 31px;

  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.offer-item:nth-of-type(4) {
  background-color: var(--basic-light-green);
  background-image: url("../img/icon-4.svg");
  background-size: 59px 72px;
  background-position: 196px 26px;

  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.offer-item:nth-of-type(5) {
  background-color: var(--basic-light-yellow);
  background-image: url("../img/icon-5.svg");
  background-size: 78px 63px;
  background-position: 191px 32px;

  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.new::before,
.new::before {
  content: "new";
  position: absolute;
  width: 100px;
  height: 30px;
  display: none;

  text-transform: uppercase;
  font-family: "Cuprum", sans-serif, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 30px;

  background-color: var(--basic-extra-red);
  background-size: 100px 30px;
}

.new::before {
  transform:  rotate(45deg) translate(136px, -152px);
}

.new-current::before {
  display: block;
}

.offer-title {
  margin: 0;
  margin-bottom: 14px;
  max-width: 150px;
  overflow-wrap: break-word;

  font-size: 24px;
}

.subtitle-link {
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;

  background-color: var(--basic-extra-grey);

  width: 135px;
  padding: 4px 15px;
}

.subtitle-link:hover {
  background-color: var(--special-extra-greylight);
}
.subtitle-link:active {
  background-color: var(--special-greydark);
}

.carousel {
  background-repeat: no-repeat;
  background-size: contain;

  position: relative;
  grid-column: 1 / 3;
  grid-row: 2 / -1;
  padding: 23px 24px 27px;
}

.carousel-wrapper-1 {
  background-color: var(--basic-light-brown);
  background-image: url('../img/drills-catalog.png');
  background-size: cover;
  background-position: center;
}

.carousel-wrapper-2 {
  background-color: var(--basic-light-brown);
  background-image: url('../img/perforators-catalog.png');
  background-size: cover;
  background-position: center;
}

.control-right-button,
.control-left-button {
  position: absolute;
  padding: 0;
}

.control-left-button {
  left: 24px;
  top: 122px;
}

.control-right-button {
  top: 122px;
  right: 20px;
}

.control-right-button,
.control-left-button,
.carousel-button {
  cursor: pointer;
  background-color: rgba(var(--r), var(--g), var(--b), 0);

  border: none;
}

.control-right-button:focus,
.control-left-button:focus,
.carousel-button:focus {
  outline: none;
}

.carousel-item {
  display: none;
}

.current-slide {
  display: block;
}

.b-title-wrap {
  width: 620px;
  height: 104px;
  padding-left: 24px;
  padding-top: 23px;
  position: absolute;
  left: 0px;
  top: 0px;

  background-color: rgba(var(--r), var(--g), var(--b), 0.15);
  background-size: cover;
}

.carousel-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;

  margin: 0;
  margin-bottom: 5px;
}

.carousel-subtitle {
  margin: 0;
  margin-bottom: 16px;
}

.carousel-link {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;

  background-color: var(--basic-extra-red);

  width: 192px;
  padding-top: 6px;
  padding-bottom: 8px;
  position: absolute;
  left: 24px;
  bottom: 27px;
}

.carousel-link:hover {
  background-color: var(--special-dark-red);
}

.carousel-link:active {
  background-color: var(--special-darker-red);
}

.buttons-wrap {
  position: absolute;
  left: 295px;
  bottom: 36px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  width: 30px;
}

.carousel-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--basic-white);
  padding: 0;

  background-color: var(--basic-white);

  cursor: pointer;
}

.carousel-button.current {
  background-color: var(--basic-extra-red);
}

/* popular-products */

.popular-products {
  margin-bottom: 70px;
}

.popular-products-row,
.popular-producers-row {
  background-color: var(--basic-beige);

  margin-bottom: 19px;
  padding: 28px 14px 27px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-dark-blue);

  margin: 0;
}

.all-popular {
  background-color: var(--basic-extra-red);

  color: var(--basic-white);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  width: 192px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.all-popular:hover {
  background-color: var(--special-dark-red);
}

.all-popular:active {
  background-color: var(--special-darker-red);
}

.popular-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
}

.popular-item {
  background-color: var(--basic-white);
  box-shadow: 0px 4px 20px var(--r, --r, --r, 0.15);

  border: 1px solid var(--basic-light-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 18px 21px;
}

.popular-item:hover {
  box-shadow: 0px 4px 20px var(--special-extra-white);

  padding-top: 38px;
}

.hover-buttons {
  display: none;
}

.popular-item:hover .hover-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 86px;
  margin-bottom: 54px;
}

.add-basket-button {
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--basic-button-shadow);

  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  border-radius: 2px;
  width: 135px;
  padding: 10px 10px;
  margin-bottom: 10px;
  position: relative;
}

.add-basket-button:hover {
  background-color: var(--special-dark-green);
}

.add-basket-button:active {
  background-color: var(--special-darker-green);
}

.add-basket-button::before {
  content: url("../img/icon-cart.svg");
  width: 15px;
  height: 15px;
  position: absolute;
  left: 25px;
  top: 10px;

  opacity: 0.3;
}

.add-bookmark-button {
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  width: 135px;
  padding: 7px 10px;

  color: var(--basic-dark-blue);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  background-color: transparent;
}

.add-bookmark-button:hover {
  border: 3px solid var(--basic-dark-blue);
}

.add-bookmark-button:active {
  border: 3px solid var(--basic-dark-blue);
  opacity: 0.5;
}

.popular-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 164px;
  width: 100%;
  margin-bottom: 8px;
}

.popular-item:hover .popular-image-container {
  display: none;
}

.new-popular::before {
  transform: translate(84px, 3px) rotate(45deg);
}

.new-popular:hover::before {
  transform: translate(84px, -29px) rotate(45deg);
}

.popular-image-perforator {
  background-color: var(--basic-dark-blue);
}

.card-link {
  font-family: var(--extra-font);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: var(--basic-black);
}

.popular-product-title {
  margin: 0;
  margin-bottom: 7px;

  font-size: 18px;
  text-align: center;
}

.price-delete {
  font-family: var(--extra-font);
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--special-greydarker);

  margin-bottom: 13px;
}

.real-price {
  font-family: var(--extra-font);
  font-size: 17px;
  line-height: 38px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--basic-white);
  text-align: center;

  background-image: url("../img/red-button.png");
  background-size: 141px 38px;

  width: 141px;
  height: 38px;
  margin-top: auto;
}

/* producers */

.popular-producers {
  margin-bottom: 70px;
}

.popular-producers-row .all-popular {
  margin-top: -2px;
  margin-right: 5px;
}

.producers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
}

.producer-item {
  border: 1px solid var(--basic-light-grey);
  height: 145px;

  background-color: var(--basic-extra-white);
}

.producer-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producer-link:hover {
  box-shadow: 0px 4px 20px var(--special-extra-white);
}

.producer-link:active {
  opacity: 0.5;
}

/* services*/

.services {
  background-color: var(--basic-neutral);
  padding: 64px 0 100px;
}

.services-title {
  color: var(--basic-black);
  line-height: 34px;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.services-description {
  width: 400px;
  margin: 0;
  margin-bottom: 70px;

  color: var(--basic-black);
  font-family: var(--extra-font);
  font-size: 13px;
  line-height: 22px;
}

.slider {
  display: flex;
  justify-content: start;

  background-repeat: no-repeat;
}

.slider-buttons-block {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  position: relative;
}

.slider-buttons-block::before {
  content: "";
  width: 10px;
  height: 279px;
  position: absolute;
  left: 230px;
  top: -49px;

  background-image: url("../img/shadow-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 10px 279px;
}

.slider-button {
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  text-align: left;

  background-color: var(--basic-dark-blue);
  cursor: pointer;
  box-shadow:
    inset 0px 1px 0px var(--special-extra-blue),
    0px 1px 0px var(--basic-darker-blue);

  border: none;
  width: 240px;
  padding: 18px 22px;
}

.slider-button.active {
  color: var(--basic-darker-blue);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;

  pointer-events: none;
  background-color: var(--basic-white);
  box-shadow:
    0px 1px 0px var(--basic-white),
    inset 0px 1px 0px var(--basic-white);
}

.slider-button:hover {
  background-color: var(--basic-darker-blue);
}

.slider-button:active {
  color: var(--basic-darker-blue);

  background-color: var(--basic-white);
}

.slider-item {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-position: 100% 22px;
  background-repeat: no-repeat;
}

.slider-wrapper-delivery {
  background-image: url("../img/car.png");
}

.slider-wrapper-guarantee {
  display: none;

  background-image: url("../img/medal.png");
}

.slider-wrapper-credits {
  display: none;

  background-image: url("../img/money.png");
}

.slider-item-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-blue);

  margin-top: 0;
}

.slider-item-description {
  color: var(--basic-black);
  font-family: var(--extra-font);
  font-size: 13px;
  line-height: 25px;

  margin: 0;
}

.slider-item-delivery {
  width: 275px;
}

.slider-item-guarantee {
  width: 320px;
}

.slider-item-credit {
  width: 280px;
}

.slider-item-link {
  width: 195px;
  padding: 10px 10px;

  background-color: var(--basic-extra-red);

  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.slider-item-link:hover {
  background-color: var(--special-dark-red);
}

.slider-item-link:active {
  background-color: var(--special-darker-red);
}

/* about-company */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 67px;
  padding-top: 70px;
}

.about-company,
.contacts {
  color: var(--basic-black);
}

.about-company {
  display: flex;
  flex-direction: column;
}

.about-company-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: var(--basic-black);

  margin: 0 0 24px 0;
  padding: 0;
}

.about-company-text {
  color: var(--basic-black);
  font-family: var(--extra-font);
  font-size: 13px;
  line-height: 24px;

  width: 460px;
}

.about-company-text:first-of-type {
  margin-bottom: 25px;
  margin-top: 0;
}

.about-company-text:nth-of-type(2) {
  margin-bottom: 0;
  margin-top: 0;
}

.about-company-text:nth-of-type(3) {
  margin-bottom: 5px;
  margin-top: 0;
}

.transport-company-list {
  list-style: none;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.transport-company-item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
}

.transport-company-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  left: 0;
  top: 11px;

  background-color: var(--basic-extra-red);
}

.more-about-company {
  background-color: var(--basic-extra-red);

  color: var(--basic-white);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  width: 220px;
  padding-top: 9px;
  padding-bottom: 5px;
}

.more-about-company:hover {
  background-color: var(--special-dark-red);
}

.more-about-company:active {
  background-color: var(--special-darker-red);
}

/* contacts */

.contacts {
  display: flex;
  flex-direction: column;
  grid-column-end: -1;
  padding-top: 7px;
}

.contacts-title {
  color: var(--basic-black);
  font-weight: 400;

  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.contacts-text {
  font-family: var(--extra-font);
  font-size: 13px;
  line-height: 24px;

  width: 181px;
  margin: 0;
  margin-bottom: 33px;
}

.contacts-map {
  margin-bottom: 18px;
}

.contacts-help-field {
  width: 300px;
  padding-top: 9px;
  padding-bottom: 5px;

  background-color: var(--basic-extra-red);

  color: var(--basic-white);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.contacts-help-field:hover {
  background-color: var(--special-dark-red);
}

.contacts-help-field:active {
  background-color: var(--special-darker-red);
}

/* perforators.html */

.breadcrumbs {
  margin: 20px auto 17px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 940px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:first-of-type {
  margin-right: 41px;
}

.breadcrumbs-item:nth-of-type(2) {
  margin-right: 40px;
}

.breadcrumbs-item:nth-of-type(3) {
  margin-right: 42px;
}

.breadcrumbs-item::after {
  content: url("../img/icon-right-small.svg");
  width: 8px;
  height: 12px;
  position: absolute;
  top: 1px;
  right: -25px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs-link,
.filters-title,
.sorting-title,
.sorting-item,
.pagination-link {
  font-family: var(--extra-font);
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.home-icon {
  fill: var(--home-icon-color);
}

.perforators-catalog-title {
  background-color: var(--basic-light-blue);

  padding: 30px;
  margin-bottom: 20px;
  width: 940px;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.filters {
  grid-column: 1 / 2;
}

.sorting {
  background-color: var(--basic-extra-beige);

  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  height: 38px;
  padding-left: 19px;
}

.sorting-title {
  font-weight: normal;

  margin: 0;
  margin-right: 143px;
}

.sorting-block {
  display: flex;
}

.sorting-item:not(.sorting-item-dir) {
  color: var(--basic-black);
  opacity: 0.3;

  border-bottom: 1px dotted var(--basic-extra-red);
}

.sorting-item:hover:not(.sorting-item-dir) {
  color: var(--basic-black);
  opacity: 1;

  border-bottom: 1px solid var(--basic-extra-red);
}

.sorting-item.active:not(.sorting-item-dir) {
  color: var(--basic-extra-red);
  opacity: 1;
  pointer-events: none;

  border-bottom: none;
}

.sorting-item-price {
  margin-right: 73px;
  margin-left: -1px;
  margin-top: -2px;
  padding-bottom: -5px;
}

.sorting-item-type {
  margin-right: 63px;
  margin-left: -1px;
  margin-top: -2px;
  padding-bottom: -5px;
}

.sorting-item-functionality {
  margin-right: 47px;
  margin-left: -1px;
  margin-top: -2px;
  padding-bottom: -5px;
}

.dir-arrows-wrap {
  display: flex;
  justify-content: space-between;
  width: 42px;
  margin-right: -5px;
}

.sorting-item-dir {
  display: inline-block;
}

.sorting-item-dir {
  display: inline-block;
}

.icon-dir {
  fill: var(--special-greylight);
}

.icon-dir.active {
  fill: var(--basic-extra-red);

  pointer-events: none;
}

.icon-dir-down {
  transform: rotate(180deg);
}

.icon-dir:hover {
  fill: var(--basic-black);
}

.perforators-catalog-section {
  grid-column: 2 / -1;
}

.perforators-list {
  list-style: none;
  margin-bottom: 47px;
  margin-top: 0px;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.perforator-item {
  border: 1px solid var(--basic-light-grey);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: var(--basic-white);
}

.perforator-item:hover {
  box-shadow: 0px 4px 20px var(--special-extra-white);

  padding-top: 38px;
}

.perforator-item:hover .hover-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
  margin-left: 41px;
}

.perforator-item:hover .perforator-image {
  display: none;
}

.new-catalog-perforators::before {
  transform: translate(142px, 8px) rotate(45deg);
}

.new-catalog-perforators:hover::before {
  transform: translate(142px, -30px) rotate(45deg);
}

.catalog-perforator-first-child,
.catalog-perforator-second-child,
.catalog-perforator-third-child,
.catalog-perforator-fifth-child,
.catalog-perforator-eighth-child {
  margin: 22px 0 28px 33px;
}

.catalog-perforator-fourth-child,
.catalog-perforator-sixth-child,
.catalog-perforator-seventh-child,
.catalog-perforator-ninth-child {
  margin: 28px 0 38px 40px;
}

.card-title {
  font-family: var(--extra-font);
  font-weight: 700;
  font-size: 18px;
  text-align: center;

  margin: 0 0 7px 0;
}

.pagination {
  list-style: none;
  margin: 0 0 60px 0;
  padding-left: 0;
  display: flex;
}

.pagination-link {
  border: 1px solid var(--basic-extra-dark-blue);
  border-radius: 2px;
  margin: 0 10px 0 0;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: none;
  background-color: var(--basic-white);
}

.pagination-link.active {
  border: none;

  text-transform: none;
  color: var(--basic-white);

  background-color: var(--basic-extra-red);
}

.pagination-link.active:hover {
  border: none;
}

.pagination-link:hover {
  border: 1px solid var(--special-greylight);
}

.pagination-link:active {
  border: 1px solid var(--basic-extra-red);
}

.pagination-next {
  display: flex;
  width: 140px;
  height: 38px;

  text-transform: uppercase;
}

.desc-products {
  background-color: var(--basic-neutral);

  padding-top: 64px;
}

.desc-products-title {
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  margin: 0 0 25px 0;
}

.desc-products-text {
  font-family: var(--extra-font);
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);

  width: 908px;
  margin: 0;
  padding: 0 0 68px 0;
}

/* main-footer */

.main-footer {
  background-color: var(--basic-dark-blue);
}

.main-footer-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
}

.main-footer-container {
  width: 330px;
  margin-right: 60px;
}

.footer-logo {
  display: inline-block;
  width: 220px;
  margin-bottom: 22px;
  padding: 22px 41px 19px 41px;

  color: var(--basic-white);
  pointer-events: none;
  text-align: center;

  background-color: var(--basic-extra-red);
  background-size: 220px 68px;
  box-shadow: inset 0 -5px 0 rgba(var(--r), var(--r), var(--r), 0.24);
}

.footer-logo-img {
  width: 138px;
  height: 23px;
}

.footer-contacts-block {
  color: var(--basic-light-blue);

  width: 330px;
}

.footer-address {
  margin: 0;
}

.footer-phone {
  color: var(--basic-light-blue);
}

.footer-navigations-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 37px;
}

.footer-navigation {
  list-style: none;
  margin: 0;
  margin-left: auto;
  margin-right: -59px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-navigation-item {
  margin-right: 59px;
  padding-bottom: 5px;
}

.footer-navigation-white {
  margin-bottom: 34px;
}

.footer-navigation-link.white {
  color: var(--basic-light-blue);
}

.footer-navigation-link.gold {
  color: var(--basic-light-golden);
}

.footer-navigation-link.white:hover,
.footer-navigation-link.gold:hover {
  text-decoration: underline;
}

.footer-navigation-link.white:active,
.footer-navigation-link.gold:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-inner-block {
  background-color: var(--basic-darker-blue);
}

.down-row-wrap {
  display: flex;
  padding-bottom: 35px;
}

.copyright {
  font-size: 16px;
  line-height: 18px;

  margin: 0;
  margin-top: 36px;
  margin-right: 161px;
  flex-shrink: 0;
}

.socials-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  margin-right: 118px;
  display: flex;
  flex-wrap: wrap;
}

.social-button {
  color: var(--basic-white);

  background-color: var(--basic-social);

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 4px;
}

.vk-icon,
.fb-icon,
.inst-icon {
  fill: var(--basic-white);
}

.social-button:hover,
.social-button:active {
  background-color: var(--basic-extra-red);
}

.feedback-wrap {
  display: flex;
  flex-shrink: 0;
}

.feedback-block {
  margin-right: 51px;
}

.feedback-block,
.develop {
  font-size: 16px;
  line-height: 20px;

  display: flex;
  flex-direction: column;
  margin-top: 33px;
}

.feedback-block-email,
.develop-site {
  color: var(--basic-light-golden);
  font-size: 16px;
  line-height: 18px;
}

.feedback-block-email:hover,
.develop-site:hover {
  text-decoration: underline;
}

.feedback-block-email:active,
.develop-site:active {
  text-decoration: none;
  color: var(--basic-extra-red);
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  color: var(--basic-black);

  background-color: var(--basic-white);
}

.modal-close {
  position: absolute;
  border: none;
  top: 20px;
  right: 17px;
  width: 21px;
  height: 21px;

  cursor: pointer;

  background-color: transparent;
}

.modal-feedback {
  width: 620px;
  height: 430px;
  padding-top: 46px;
  z-index: 200;
  display: none;

  box-shadow:
    0px 4px 20px rgba(var(--r), var(--g), var(--b), 0.15),
    0px 20px 40px rgba(var(--r), var(--g), var(--b), 0.75);
}

.modal-feedback::before {
  content: "";
  position: absolute;
  width: 620px;
  height: 7px;
  top: 0;
  left: 0;

  background-image: url("../img/b-red-line.png");
  background-size: 620px 7px;
}

.feedback-forms {
  width: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-contacts-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
}

.name-field-wrap {
  margin-right: 20px;
}

.feedback-area-wrap {
  margin-bottom: 30px;
}

.name-label,
.email-label,
.feedback-area-label {
  color: var(--basic-black);

  display: inline-block;
  margin-bottom: 11px;
}

.name-field,
.email-field,
.feedback-area {
  border: 2px solid var(--special-greylight);
  border-radius: 2px;
  padding-left: 12px;
}

.name-field,
.email-field {
  width: 220px;
  height: 38px;
}

.name-field::placeholder,
.email-field::placeholder,
.feedback-area::placeholder {
  font-family: var(--extra-font);
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--placeholder-color);
}

.feedback-area {
  width: 460px;
  height: 114px;
  padding-top: 6px;

  resize: none;
}

.b-feedback-button {
  width: 620px;
  height: 112px;
  padding-top: 37px;
  display: flex;
  justify-content: center;

  background-color: #f4f4f4;
  background-size: 620px 112px;
}

.modal-send {
  background-color: var(--basic-extra-red);

  color: var(--basic-white);
  outline: none;
  outline-offset: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 38px;
  border: none;
  padding: 0;
}

.modal-send:hover {
  background-color: var(--special-dark-red);
}

.modal-send:active {
  background-color: var(--special-darker-red);
}

.modal-map {
  width: 943px;
  height: 449px;
  z-index: 100;
  display: none;

  box-shadow: rgba(var(--r), var(--g), var(--b), 0.15);
}

.modal-map::before {
  content: "";
  position: absolute;
  width: 943px;
  height: 7px;
  top: 0;
  left: 0;

  background-color: var(--basic-extra-red);
  background-size: 943px 7px;
}
